{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container panel panel-default">
        <div class="panel-title">
            <h3>Edit Project Year:</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                {% for form_item in form %}
                    {% if (form_item.vars.name != "_token") %}
                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                {{ form_label(form_item) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_widget(form_item) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {{ form_row(form._token) }}
                <div class="form-group pull-right">
                    <input type="submit" name="" id="_submit" value="Save" class="btn obg-form-btn obg-submit-btn"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}