{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Register New User</h1>
            <div class="alert alert-success" role="alert">
                <p>User has been successfully registered and logged in.</p>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}